<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style/side-bar.css">
    <title>Page Title</title>
</head>

<body>
    <div className="col-md-4 side-bar">
        <div class="side-bar-container">
            <div class="heading">EXPLORE</div>
            <div class="sub-heading-container">
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        What to watch
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Recommended
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        History
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Subscriptions
                    </div>
                </div>
            </div>
        </div>
        <div class="side-bar-container">
            <div class="heading">PLAYLISTS</div>
            <div class="sub-heading-container">
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Liked Videos
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Favorites
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Watch Later
                    </div>
                </div>
            </div>
        </div>
        <div class="side-bar-container">
            <div class="heading">SUBSCRIPTION</div>
            <div class="sub-heading-container">
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Suicide Sheep
                    </div>
                </div>
                <div class="sub-heading">
                    <div class="sub-icon" style=" display: inline-block;">
                        <i class="fa fa-television" aria-hidden="true"></i>
                    </div>
                    <div class="sub-text" style="display: inline-block;">
                        Crunkz Music
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>